<launch>
 <arg name="model" default="$(find robot_model)/urdf/model.urdf"/>
 <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
 
 <master auto="start"/>
 <!-- Run the map server --> 
    <node name="map_servers" pkg="map_server" type="map_server" args="$(find robot_model)/my_map.pgm my_map_resolution"/>

 <!--- Run AMCL --> 
   <node pkg="amcl" type="amcl" name="move_base" output="screen">
   	<param name="odom_frame_id" value="odom"/>
   	<param name="base_frame_id" value="base_link"/>
   	<param name="global_frame_id" value="map"/>
   </node>
   <node pkg="move_base" type="move_base" respawn="false" name="move_bases" output="screen">
    <rosparam file="$(find robot_model)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find robot_model)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_model)/param/local_costmap_param.yaml" command="load" />
    <rosparam file="$(find robot_model)/param/global_costmap_param.yaml" command="load" /> 
    <rosparam file="$(find robot_model)/param/base_local_planner_params.yaml" command="load" />
 </node>
 
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find robot_model)/worlds/simple_maze.world"/>
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model model -z 0.1"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d$(find robot_model)/rviz_config/robot.rviz"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_model)/maps/simple_map.yaml"/>

</launch> 
